<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
    <script>
    var client;
    var connected=false;
    // Called after form input is processed
    function startConnect() {
        // Generate a random client ID
        clientID = "clientID-" + parseInt(Math.random() * 100);
    
        // Fetch the hostname/IP address and port number from the form
        host = document.getElementById("host").value;
        port = document.getElementById("port").value;
    
        // Print output for the user in the messages div
        document.getElementById("messages").innerHTML += '<span>Connecting to: ' + host + ' on port: ' + port + '</span><br/>';
        document.getElementById("messages").innerHTML += '<span>Using the following client value: ' + clientID + '</span><br/>';
    
        // Initialize new Paho client connection
        client = new Paho.MQTT.Client(host, Number(port), clientID);
    
        // Set callback handlers
        client.onConnectionLost = onConnectionLost;
        client.onMessageArrived = onMessageArrived;
    
        // Connect the client, if successful, call onConnect function
        client.connect({ 
            onSuccess: onConnect,
        });
    }
    
    // Called when the client connects
    function onConnect() {
        // Fetch the MQTT topic from the form
        topic = document.getElementById("topic").value;
    
        // Print output for the user in the messages div
        document.getElementById("messages").innerHTML += '<span>Subscribing to: ' + topic + '</span><br/>';
    
        // Subscribe to the requested topic
        client.subscribe(topic);
        
        connected=true;
    }
    
    // Called when the client loses its connection
    function onConnectionLost(responseObject) {
        document.getElementById("messages").innerHTML += '<span>ERROR: Connection lost</span><br/>';
        if (responseObject.errorCode !== 0) {
            document.getElementById("messages").innerHTML += '<span>ERROR: ' + + responseObject.errorMessage + '</span><br/>';
        }
        connected=false;
    }
    
    // Called when a message arrives
    function onMessageArrived(message) {
        console.log("onMessageArrived: " + message.payloadString);
        //document.getElementById("messages").innerHTML += '<span>Topic: ' + message.destinationName + '  | ' + message.payloadString + '</span><br/>';
    }
    
    // Called when the disconnection button is pressed
    function startDisconnect() {
        connected=false;
        client.disconnect();
        document.getElementById("messages").innerHTML += '<span>Disconnected</span><br/>';
    }
    
    
    var interval;
    
    if (!('ongamepadconnected' in window)) {
      // No gamepad events available, poll instead.
      interval = setInterval(pollGamepads, 500);
    }
    
    function pollGamepads() {
      var gamepads = navigator.getGamepads ? navigator.getGamepads() : (navigator.webkitGetGamepads ? navigator.webkitGetGamepads : []);
      for (var i = 0; i < gamepads.length; i++) {
        var gp = gamepads[i];
        if (gp) {
          var mydiv = document.getElementById("gamepadDetected");
          var newcontent = document.createElement('div');
          newcontent.innerHTML = "<br/>Gamepad "+ i +" connected at index " + gp.index + ": " + gp.id +". It has " + gp.buttons.length + " buttons and " + gp.axes.length + " axes. Gamepads list length is " + gamepads.length;

          while (newcontent.firstChild) {
            mydiv.appendChild(newcontent.firstChild);
          }
          gamepadSelect = document.getElementById('gamepadSelector');
          gamepadSelect.options[gamepadSelect.options.length] = new Option(gp.id, i);
          gameLoop();
          clearInterval(interval);
        }
      }
    }
    
    function buttonPressed(b) {
      if (typeof(b) == "object") {
        return b.pressed;
      }
      return b == 1.0;
    }
    
    function mapAxisToPWM(axis, inverted){
      if(inverted){axis = -axis;}
      if(Math.abs(axis) < 0.1){return 1500;}
      return( Math.floor(1500 + (axis*500)) );
    }
    
    function gameLoop() {
      var gamepads = navigator.getGamepads ? navigator.getGamepads() : (navigator.webkitGetGamepads ? navigator.webkitGetGamepads : []);
      if (!gamepads) {
        return;
      }
    
      //var gp = gamepads[gamepads.length-2];
      //var gp = gamepads[1];

     var e = document.getElementById("gamepadSelector");
     var gpid = e.options[e.selectedIndex].value;
 
     var gp = gamepads[gpid];

     if(gp){      
        var x1 = mapAxisToPWM(gp.axes[0], false);
        var y1 = mapAxisToPWM(gp.axes[1], true);
        var x2 = mapAxisToPWM(gp.axes[2], false);
        var y2 = mapAxisToPWM(gp.axes[3], true);

        var mix1 = Math.min(Math.max((1500+((y2-1500) + (x2-1500))), 1000), 2000);
        var mix2 = Math.min(Math.max((1500+((y2-1500) - (x2-1500))), 1000), 2000);
      
        gamepadInfo.innerHTML = "<b>Axis Info</b><br/>X1:" + x1 + "<br/>Y1:" + y1 + "<br/>X2:" + x2 + "<br/>Y2:" + y2 + "<br/>MIX1:" + mix1 + "<br/>MIX2:" + mix2;
        if(connected){
          client.send("gamepad/axis/x1", x1.toString(), 0, false);
          client.send("gamepad/axis/y1", y1.toString(), 0, false);
          client.send("gamepad/axis/x2", x2.toString(), 0, false);
          client.send("gamepad/axis/y2", y2.toString(), 0, false);
          client.send("gamepad/axis/mix1", mix1.toString(), 0, false);
          client.send("gamepad/axis/mix2", mix2.toString(), 0, false);
        }
      }
    
      setTimeout(gameLoop, 100);
    }
    
    </script>
    
    </head>
    
    <body>
    <h1>mqtt gamepad</h1><br/> 
    <div id="gamepadInfo"><b>Axis Info</b></div>
    <div id="gamepadDetected"><b>Connected Gamepads Info</b></div>
    <div>
      <b>Select Your Gamepad</b><br/>
      <select id="gamepadSelector"><option value="0">Choose...</option></select></div>    
    </div>
    <div><br/><div>
    <div><b>MQTT Server Settings</b></div>
         <div class="wrapper">
             <form id="connection-information-form">
                <b>Hostname or IP Address:</b> 
                <input id="host" type="text" name="host" value="192.168.178.22"><br>
                <b>Port:</b>
                <input id="port" type="text" name="port" value="9001"><br>
                <b>Topic:</b>
                <input id="topic" type="text" name="topic" value="/gamepadstats"><br><br>
                <input type="button" onclick="startConnect()" value="Connect">
                <input type="button" onclick="startDisconnect()" value="Disconnect">
             </form>
             <div id="messages"></div>
          </div>
</body>
